

.Cooking-container{
    display: flex;
    flex-direction: column;
}

.cookInfo{
    background-color: #f6f5f7;
    display: flex;
}

.cookItem1{
    flex-basis: 20%;
}

.cookItem{
    background-image: url('./images/cooking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    flex-basis: 60%;
}