.Header-container{
    display: flex;
    justify-content: space-between;
}

.right-header{
    display: flex;
    /* border: 1px solid red; */
    margin-right: 1.5rem;
    
}

.svgclass{
    height: 28px;
    width: 28px;
    margin: 15px 5px 10px 30px;

   
}


.loginclass{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexextre{
    display: flex;
    margin-top: 12px;
}

.btnsearch{
    margin-left: 4px;
}

.left-header{
    display: flex;
    margin-left: 30px;
    
}

.imglogo{
    width: 12rem;
    height: auto;
    margin-right: 30px;
}
.special{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
   
    
}

.specialSpan:hover{
    color: #f5c7c7;
    text-decoration: none;
}

.specialSpan{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: gray;
    font-size: 10px;
}