
.homepic{
    display: flex;
    background-color: white;
    justify-content:center;
}

.homepic-items{
    /* border: 1px solid purple; */
}

.handwerker{
    width:16.5rem;
    height: auto;

}

.homelogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1{
    /* border: solid 1px red; */
    width: 26rem;
    height: 5.3rem;
    background-image: url('./images/logo.jpg');
    background-size:cover;
    background-repeat:no-repeat; 
    
    
}

.p1div{
    font-size: 2.5rem;
    margin-top: 2.3rem;
    margin-left: 4.6rem;
    color: #3f3f3f;
}

.p_contain{
    display: flex;
}

.pservice{
    font-size: 2.6rem;
    color: #dd0000;
    font-weight: bold;
}
.and{
    font-size: 2.5rem;
    color: #3f3f3f;
    font-weight: bold;
    margin-left: 10px;
    margin-right:10px;
}

.repair{
    font-size: 2.6rem;
    color: #3f3f3f;
    font-weight: bold;
}

.line{
    border:1px solid #616161;
    width: 26rem;
    height: 3rem;
    border-left: none;
    border-right: none;
    
    
}

.titrline{
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: gray;
    font-size: 2rem;
   
   
}

.lefthome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20rem;
}

.search{
    border: 3.2rem solid #dd0000;
    border-radius: 50px;
    width: 36rem;
    
}

.choose{
    padding: 15px;
    font-size: 12px;
    color: rgb(167, 166, 166);
   
}

.trclass{
    border: 2px solid #3f3f3f;
    background-color: #3f3f3f;
   
}

