.App{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;

    grid-template-areas: 
        'Header'
        'Navbar'
        'Main'
        'Footer'
    ;
}

#Header{
    grid-area:Header ;
}

#Navbar{
    grid-area:Navbar ;
}

#Main{
    grid-area:Main ;
    background-color: rgb(241,178,1);
    background-image: url('./components/images/bg.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: center top;
   
}

#Footer{
    grid-area:Footer ;
}


